<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.datasync.mapper.BinlogInfoMapper">
    
    <resultMap type="BinlogInfo" id="BinlogInfoResult">
    	<result property="logFileName"  column="logfile_name"      />
        <result property="eventType"    column="event_type"    />
        <result property="userName"     column="user_name"     />
        <result property="serverId"     column="server_id"   />
        <result property="endLogPos"    column="end_log_pos"    />
        <result property="csf"          column="csf"      />
        <result property="eventInfo"    column="event_info"    />
        <result property="redoSql"      column="redo_sql"      />
    </resultMap>

    <select id="selectBinlogByBinlogFile" parameterType="String" resultMap="BinlogInfoResult">
        SELECT logfile_name, event_type, user_name, server_id, end_log_pos, csf, event_info, redo_sql
        FROM show_binlog_events(#{fileName}, 0, 0, 100000)
        WHERE end_log_pos &gt; (SELECT end_pos FROM DS_BINLOG_END_POS WHERE file_name = #{fileName})
            AND event_type IN ('DELETE_ROW','UPDATE_ROW','INSERT_ROW');
	</select>

    
</mapper>